<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mohan_paypalrest>
                <active>0</active>
                <model>Mohan\PaypalRest\Model\PaymentMethod</model>
                <title>PayPal</title>
                <order_status>pending</order_status>
                <sort_order>10</sort_order>
            </mohan_paypalrest>
        </payment>
        <mohan_paypalrest>
            <api>
                <sandbox>0</sandbox>
            </api>
        </mohan_paypalrest>
    </default>
</config>
